html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size:  100%;
  background-position: bottom;
  background-color: #D50A0A;
  min-height: 100%;
}

li {
  list-style: none;
  display: inline;
}

/* Attempting to have auto-resizing images */
/* .wrapper {
  position: relative;
  padding-top: 56.25%; 
}

img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
} */

img {
  object-fit: cover;
  width: 320px;
  height: 450px;
}

.player-content {
  height: 550px;
}

p {
  font-weight: normal;
  font-size: 18px;
}

.player-stats {
  font-weight: bold;
  font-size: 28px;
}

